* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    font-family: 'Arial' , sans-serif;
}
nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 100;
    top: 0;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo  h1{
    margin: 0;
    font-size: 40px;
    cursor: pointer;
}
@media(max-width: 800px){
  nav .mainMenu {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 1s ease;
      display: inline-table;
      
}
nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
}
nav .openMenu {
        display: block;
}
nav .mainMenu li a:hover {
  background: none;
  color: rgb(17, 0, 255);
  font-size: 1.6rem;
}
.icons i {
    color: #fff;
        display: inline-block;
        padding: 12px;
    }
}




/***********************SECTION***********************/
section h1{
  flex-basis: 10%;
  text-align: center;
  margin-top: 50px ;
  font-size: 130px;
  letter-spacing: 6px;
  color: rgb(5, 5, 5);

  font-family: Brush Script MT, Brush Script Std, cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
}
section {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10%;
  background-image: url(../images/cheese/double-cheese.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
}

.container-section {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
/*-------------------------------END OF SECTION---------------------------------*/

#page-footer {
    background-color: #111;
}

.container{
    color: #fff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    position: relative;
    width: auto;
}

.footer-copyright{
    color: #fff;
}
