* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body  {
  font-family: 'Arial' , sans-serif;
}
nav {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}
nav .mainMenu li a:hover {
  background: rgb(255,94,0);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}
@media(max-width: 800px){
  nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 1s ease;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
  nav .openMenu {
      display: block;
  }
  nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
      font-size: 1.6rem;
  }
  .icons i {
      display: inline-block;
      padding: 12px;
  }
}
/*******************************************************************************************************************/

/*----------------------------------------SECTION--------------------------------*/
body {
  background-color: #111;
}

h2 {
  color: #111;
  font-weight: bold;
  font-size: 100px;
  background-attachment: fixed;
  background-color: #fff;

}

.shop-item {
  margin: 50px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(8, 248, 228);
  margin-bottom: 15px;
}

.shop-item-image {
  height: 400px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: rgb(123, 142, 250);
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
  color: rgb(105, 103, 103);
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: rgb(105, 103, 103);
}

.cart-quantity {
  width: 35%;
  color: rgb(105, 103, 103);
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: rgb(121, 118, 118);
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-right: 20px;
}

.cart-total-price {
  color: rgb(241, 217, 217);
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
/*-------------------------------------*/
#page-footer {
  background-color: #111; 
}

footer{
  color: #fff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  position: relative;
  margin: 20px;
  width: auto;
}

.footer-copyright{
  color: #fff;
}